@import '../../../config/sass/theme.config';
@import '../../../config/sass/responsive.config';


.inner_step_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.initConfig{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    span{
        font-size: 35px;
    }

    p{
        font-size: 20px;
        margin-bottom: 20px;
    }

    img{
        height: 45%;
    }

    @include xs{
        width: 95%;

        span{
            font-size: 27px;
        }

        p{
            font-size: 17px;
            margin-bottom: 20px;
            text-align: justify;
        }

        img{
            width: 90%;
        }
    }
}

.cinemaConfig{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    .cinema_form {
        text-align: start;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .imageIcon{
            height: 60%;
            width: 100%;

            .image_render{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 20px;

                img{
                    height: 100%;
                    aspect-ratio: 1;
                    max-width: 70%;
                    border-radius: 5px;

                    &:hover{
                        cursor: pointer;
                    }
                }

                .imageOptions{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    
                    button{
                        aspect-ratio: 1;
                    }
                }
            }
        }
    }

    @include xs{
        width: 100%;

        .cinema_form{
            width: 100%;

            .imageIcon{
                .image_render{
                    img{
                        height: 80%;
                    }
                }
            }
        }
    }
}

.tmbdApiConfig{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .tmdb_form{
        text-align: start;
        width: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        p{
            text-align: justify;
            em{
                font-weight: 600;
            }
        }

        .tmbd_guide{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }

    @include xs{
        width: 100%;

        .tmdb_form{
            width: 100%;
        }
    }
}

.finishedConfig{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    span{
        font-size: 35px;
    }

    p{
        font-size: 20px;
        margin-bottom: 20px;
    }

    img{
        height: 45%;
    }

    button{
        margin-top: 10px;
    }

    @include xs{
        width: 100%;

        span{
            font-size: 27px;
        }

        p{
            font-size: 17px;
            margin-bottom: 20px;
            text-align: justify;
        }

        img{
            width: 80%;
        }
    }
}