@import './config/sass/theme.config.scss';
@import './config/sass/fonts.config.scss';
@import './config/sass/responsive.config';

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

body{
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: $background_dark;
}

.maxContainer{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    @include xs {
        height: 90vh;
    }
}