@import './config/sass/theme.config.scss';
@import './config/sass/fonts.config.scss';

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
}

body{
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: $background_dark;
}